{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
<div class="container">
<h4>Listed Hospitals</h4>
<br>

    {% for hospital in hospitals %}
      <div class="card">
{#  <h5 class="card-header">Featured</h5>#}
  <div class="card-body">
      <div class="row">
      <div class="col-md-2">
          <img src="{% static hospital.profile_pic.url %}" width="100" height="100" alt="Profile Pic" />
          <h5 class="card-title">{{ hospital.hospital_name }}</h5>
      </div>
      <div class="col-md-3 center-block ">
          <div style="height: 40px"></div>
         <p>{{ hospital.location }}</p>
          <p>{{ hospital.mobile }}</p>
      </div>
           <div style="width:200px"></div>
          <div class="col-md-2 center">
               <div style="height: 50px"></div>
             <a href="hospitals/review/{{ hospital.id }}" class="btn btn-primary">See Review</a>
      </div>
      </div>
  </div>
</div>
    {% endfor %}

{% if hospitals.has_other_pages %}
 <nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if hospitals.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ hospitals.previous_page_number }}">Previous</a></li>
    {% endif %}
   {% for i in hospitals.paginator.page_range %}
       {% if hospitals.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
       {% else %}
           <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
       {% endif %}
  {% endfor %}
   {% if hospitals.has_next %}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
   {% endif %}
  </ul>
</nav>
{% endif %}
</div>
    <br>
    <br>
    <br>
     <br>
    <br>
     <br>
    <br>
    <br><br>

{% endblock content %}