{% extends 'hospital/homebase.html' %}
{% load static %}



{% block content %}


<head>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">



  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      
      margin-bottom: 0px;

      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h5,
    h3 {
      text-align: center;
    }


    .alert {
      margin: 0px;
    }
    .student-name {
      font-size: 20px;
      font-family: 'Yellowtail', cursive;
    }

    .project-name {
      font-size: 20px;
      font-family: 'Secular One', sans-serif;
    }
    .details {
      font-size: 15px;
      
    }


    .glow {
      font-size: 50px;
      color: white;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
      }

      to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
  </style>
</head>
<br>
<br>


<div class="container-fluid" style="background:#0e0e0d;">
  <div class="carousel slide" data-ride="carousel" data-interval="1500">
    <div class="carousel-inner">
      <div class="carousel-item carousel-item-padding active">
        
        <h3 class="display-2 glow project-name"> National Healthcare Online Management</h5>
          <h3 class="display-2 glow ">  Project-400</h5>
      </div>
      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow student-name"> Saifullah Sifat</h5>
          <h3 class="display-2 glow ">  ID: 14201901</h5>
      </div>
      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow student-name"> Sabrina Yasmin</h5>
        <h3 class="display-2 glow ">  ID: 18201901</h5>
      </div>

      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow student-name"> Sumaia Sanjida Shifa </h5>
        <h3 class="display-2 glow ">  ID: 17101101 </h5>
      </div>
    </div>
  </div>			
</div>
<div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
  <br>
              <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-3"> 
                          <div class="card"> 
                            <img src={% static "profile_pic/HospitalprofilePic/1.United-Hospital-Dhaka.jpg" %} alt="United Hospital">
                            <div class="card-body"> 
                              <h5 class=" glow project-name"> United Hospital </h5>
                              <p class="details"> 
                                <br><br>
                                United Hospital is a private hospital in Gulshan Thana, Dhaka, Bangladesh. Mohammad Faridur Rahman Khan is the Managing Director of the hospital and Mohammad Faizur Rahman is the CEO of the hospital.United Hospital along with Apollo Hospital Dhaka and Square Hospital are considered high end private hospitals. 
                                <br><br><br>
                                Address: Plot # 15 Rd No 71, Dhaka 1212 
                                Hours: Open 24 hours
                                Phone: 09666-710666
                                
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>
                        
                        
                        <div class="col-md-3"> 
                          <div class="card"> 
                            <img src={% static "profile_pic/DoctorprofilePic/1._Dr.-Fowaz-Hussain-Shuvo-200x300.jpg" %} alt=""  />
                            <div class="card-body"> 
                              <h5> Dr. Fowaz Hussain</h5>
                              <p class="details"> 
                                Consultant-Hepatology & Gastroenterology.
                                <br><br><br>
                                Doctor details:<br>
                                Degree : MBBS, MD (Hepatology).<br> 
                                Department : Gastroenterology. <br>
                                Speciality : Interventional Gastroenterologist.<br><br>
                                Mobail:01922027173<br>
                                hospital: Square Hospitals Ltd
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	


                        <div class="col-md-3"> 
                          <div class="card"> 
                            <img src={% static "profile_pic/HospitalprofilePic/2.Evercare-Hospital-Dhaka1.jpg" %} alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> Evercare Hospital</h5>
                              <p class="details"> 
                                <br>Welcome, Everyone. A good news to you 
                                From today Covid test only 500taka<br><br>
                                Address: <br>Plot: 81 Block: E, Dhaka 1229 <br>
                                Hours: 24 open <br>
                                Service options: Takeaway<br>
                                Phone: 09666-710678
                                
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	

                        <div class="col-md-3"> 
                          <div class="card"> 
                            <img src={% static "profile_pic/DoctorprofilePic/2._DR.-MD.-SAMSUL-ARFIN.jpg" %} alt=""  />
                            <div class="card-body"> 
                              <h5> Dr. Fowaz Hussain</h5>
                              <p class="details"> 
                                interventional gastroenterology
                                <br><br><br>
                                Doctor details:<br>
                                Degree :  MBBS in the year 1979. FCPS (Medicine) from Dhaka Medical College under University of Dhaka, in the year1991.<br> 
                                Department : Gastroenterology. <br>
                                Speciality : Gastrointestinal, Liver & Pancreatic Diseases.<br><br>
                                Mobail:01922027173<br>
                                hospital: Square Hospitals Ltd
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>



                      </div>
                      <br/>
                    </div>

                    <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--4</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--5</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--6</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                      </div>
                      <br/>
                    </div>

                    <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--7</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--8</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--9</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                      </div>
                      <br/>
              </div>
  <h5 class="display-3 " >Display Hospital and Doctor post </h5>
  <br><br>
  <p>
 


  <br><br>
</div>

<br><br><br><br>

{% include "hospital/admin_doctor_patient_card.html" %}
<br><br><br>


{% endblock content %}
