{% extends 'hospital/homebase.html' %}
{% load static %}



{% block content %}


<head>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      
      margin-bottom: 0px;

      background-size: cover;
      background-repeat: no-repeat;
    }

    .jumbotron h5,
    h3 {
      text-align: center;
    }


    .alert {
      margin: 0px;
    }



    .glow {
      font-size: 50px;
      color: white;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
      }

      to {
        text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
  </style>
</head>
<br>
<br>


<div class="container-fluid" style="background:#0e0e0d;">
  <div class="carousel slide" data-ride="carousel" data-interval="1500">
    <div class="carousel-inner">
      <div class="carousel-item carousel-item-padding active">
        
        <h3 class="display-2 glow "> National Healthcare Online Management</h5>
          <h3 class="display-2 glow ">  Project-400</h5>
      </div>
      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow"> Saifullah Sifat</h5>
          <h3 class="display-2 glow ">  ID: 14201901</h5>
      </div>
      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow"> Sabrina Yasmin</h5>
        <h3 class="display-2 glow ">  ID: 18201901</h5>
      </div>

      <div class="carousel-item carousel-item-padding ">
        <h3 class="display-2 glow"> Sumaia Sanjida Shifa </h5>
        <h3 class="display-2 glow ">  ID: 17101101 </h5>
      </div>
    </div>
  </div>			
</div>
<div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
  <br>
                    <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--1</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--2</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--3</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                      </div>
                      <br/>
                    </div>

                    <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--4</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--5</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--6</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                      </div>
                      <br/>
                    </div>

                    <div class="container-fluid"> 
                      <div class="row"> 
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--7</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--8</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                        <div class="col-md-4"> 
                          <div class="card"> 
                            <img src="" alt="" class="card-img-top" />
                            <div class="card-body"> 
                              <h5> This is something--9</h5>
                              <p> 
                                I love working with people and I love working with technology and 
                                I think the best thing we can do is have as many people involved as possible 
                                to really make sure that we're building things that everyone can use. 
                              </p>
                              <a href="" class="btn btn-success">Read More...</a>
                            </div>		
                          </div>
                        </div>	
                      </div>
                      <br/>
                    </div>
  <h5 class="display-3 " >Display Hospital and Doctor post </h5>
  <br><br>
  <p>
 


  <br><br>
</div>

<br><br><br><br>

{% include "hospital/admin_doctor_patient_card.html" %}
<br><br><br>


{% endblock content %}
