{% extends 'hospital/patient_base.html' %}
{% block content %}

{%load static%}
{% load widget_tweaks %}
    <br>

<div class="container" >
<h4>Doctor Review</h4>
<br>
    <form method="post">
    {% csrf_token %}
    <div class="form-content">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                {% render_field form.rating class="form-control" placeholder="Rating" %}
              </div>
              <div class="form-group">
                {% render_field form.comment class="form-control" placeholder="Comment" %}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
    </div>
    </form>

</div>

{%  endblock content %}